<div class="flex flex-col items-center">
  <header class="w-full">
    <div>
      <app-brand></app-brand>
    </div>
    <div>
      <app-top-search class="w-full"></app-top-search>
    </div>
    <div>
      <app-icon-button icon="add"></app-icon-button>
      <app-icon-button [icon]="theme.darkMode$.value ? 'light_mode' : 'dark_mode'"
        (click)="theme.toggleTheme()"></app-icon-button>
    </div>
  </header>
  <main class="container">
    <div *ngFor="let page of pages">
      <h1>Page {{page}}</h1>
      <div *ngFor="let todo  of todoService.todos[page]">
        <h1>{{todo.attributes.title}}</h1>
      </div>
    </div>
  </main>
</div>