// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ict-294-praxisarbeit-primary: mat.define-palette(mat.$indigo-palette);
$ict-294-praxisarbeit-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$ict-294-praxisarbeit-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ict-294-praxisarbeit-theme: mat.define-light-theme(
  (
    color: (
      primary: $ict-294-praxisarbeit-primary,
      accent: $ict-294-praxisarbeit-accent,
      warn: $ict-294-praxisarbeit-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ict-294-praxisarbeit-theme);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

#wrapper {
  @apply h-screen text-slate-900 dark:text-slate-100 bg-slate-100 dark:bg-slate-900 transition-colors;

  &.blured {
    @apply blur-sm dark:blur scale-105 p-5 pointer-events-none;
  }
}

#no-backend-overlay {
  @apply absolute h-screen w-screen left-0 top-0 flex flex-col items-center justify-center text-slate-900 dark:text-slate-100 transition-colors;

  .overlay {
    &-content {
      @apply flex flex-col items-center;
    }

    &-text-content {
      @apply flex flex-col items-center;

      h1,
      p,
      span {
        @apply text-center;
      }

      p,
      span {
        @apply max-w-2xl;
      }

      & > h1 {
        @apply text-6xl font-bold mb-4;
      }

      & > p {
        @apply text-lg mb-4;
      }

      & > span {
        @apply opacity-60;
      }
    }
  }
}

.special-icon {
  @apply p-4 relative rounded-full select-none;
  @apply shadow dark:shadow-slate-100;
  @apply bg-slate-100 dark:bg-slate-600;
  @apply border-2 dark:border border-slate-600 dark:border-slate-100;

  &-wrapper {
    @apply flex flex-col items-center justify-center mb-4;
  }

  .overlay {
    @apply absolute h-full w-full top-0 left-0 rounded-full z-40;
    @apply bg-gradient-to-t from-slate-100 dark:from-slate-600 from-20%;
    @apply flex flex-col items-center justify-center;

    img {
      @apply block z-50;
      animation: pulse-opacity 1.5s infinite;
    }
  }

  img {
    @apply w-52 h-52 p-5 opacity-60 invert-[20%] dark:invert;
  }
}

@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
}
